// Theme Colors and Variables
$custom-black-transparent-54: rgba(0,0,0,.54);
$custom-bright-blue: #1a73e8;
$custom-outgoing-light: #d2e3fc;
$custom-outgoing-dark: #174ea6;
$custom-incoming-light: #f1f3f4;
$custom-incoming-dark: rgba(0,0,0,.87);

$custom-outgoing-green-light: #cffcd5;
$custom-outgoing-green-dark: #0e6736;
$custom-bright-green: #25d366; //#1ce926;